* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: justify;
  list-style-type: none;
  color: #333355;
}
body {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Lato", sans-serif;
  background-color: #eee;
}
a {
  text-decoration: none;
  position: relative;
}

a::before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #1c82cf;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
a:hover::before {
  width: 100%;
}
ul {
  width: 100%;
}
li {
  line-height: 1em;
  margin: 5px;
}
h1 {
  margin-bottom: 0.5em;
}
h3 {
  border-bottom: 1px solid #1c82cf;
  margin: 5px 0;
}
h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
}
#page {
  margin: auto;
  width: 595px;
  height: 842px;
  padding: 10px;
  background-image: url("/dust_scratches.png");
  -webkit-box-shadow: 10px 10px 30px #000000c0;
  box-shadow: 10px 10px 30px #000000c0;
  display: grid;
  grid-gap: 5px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(5, 1fr) 0.5fr;
}

#photo img {
  width: 100px;
  /* transform: scaleX(-1); */
}
#photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#known-technologies ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
#known-technologies ul li {
  margin: 5px 10px;
}
#experience ul ul li {
  list-style-type: initial;
}
#experience ul ul {
  padding-left: 15px;
}
#skills > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 5px;
}
#clause {
  grid-column-start: 1;
  grid-column-end: 3;
}
#clause .faded {
  font-size: 0.6em;
}
.faded {
  color: #888;
  font-size: 0.8em;
}

.more {
  -webkit-transform: rotate(90deg) scale(1.2);
  transform: rotate(90deg) scale(1.2);
  display: none;
}
.skill-ico {
  height: 25px;
  width: 25px;
}
.star {
  height: 15px;
  width: 15px;
}
.star-container {
  margin-left: 10px;
  line-height: 1em;
}
/* @media (max-height: 640px) {
  #photo,
  #info {
    height: 50vh;
  }
  #photo {
    align-items: center !important;
    justify-content: flex-start !important;
  }
} */

@media screen and (max-width: 560px) {
  body {
    width: 100%;
    text-align: initial;
    font-size: 110%;
  }
  h1 {
    font-size: 2.2em;
    margin-bottom: 0.3em;
  }
  h3 {
    width: 100%;
  }
  h4,
  li {
    text-align: left;
  }
  #page {
    height: unset;
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #page > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }

  #photo img {
    width: 150px;
    margin-top: 5px;
  }
  #info > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.2em;
  }
  #skills ul,
  #hobbies ul,
  #tools ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #info,
  #photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  #known-technologies ul {
    grid-template-columns: repeat(2, 1fr);
  }
  #clause {
    margin-top: 5px;
  }

  .skill-ico {
    height: 40px;
    width: 40px;
  }
  .star {
    height: 25px;
    width: 25px;
  }
  .star-container {
    margin-left: 10px;
    line-height: 1em;
  }
}
@media screen and (max-width: 393px) {
  #info > ul {
    font-size: 0.9em;
  }
  .faded {
    min-width: 120px;
  }
  h1 {
    text-align: center;
  }
}
